<!DOCTYPE html>
<html>
<head>
  <title>Form List</title>
  <link rel="stylesheet" type="text/css" href="styles.css">
</head>
<body>
  <h1>Form List</h1>
  <table>
    <tr>
      <th>Form ID</th>
      <th>Form Name</th>
      <th>Number of Submissions</th>
      <th>Submit Form</th>
      <th>View Submissions</th>
    </tr>
    <% forms.forEach((form) => { %>
      <tr>
        <td><%= form.id %></td>
        <td><%= form.formName %></td>
        <td><%= form.submissions.length %></td>
        <td><a href="/form-submit/<%= form.id %>">Submit</a></td>
        <td><a href="/form-submissions/<%= form.id %>">View</a></td>
      </tr>
    <% }); %>
  </table>
</body>
</html>
